  <div id="logo">
    <img alt="Angular Logo" src="assets/images/doylelogo3-03.png">
  </div>

  <ul class="buttonContainer container">
    <li class="addUserButton"  (click)="homeClicked();"> Home </li>
    <li class="addUserButton" (click)="portfolioClicked();"> Portfolio </li>
    <li class="addUserButton" (click)="contactClicked();"> Contact </li>
  </ul>

  <div style="text-align:center">
    <h1>
      Hi, I'm Doyle! <br> Let's build something together.
    </h1>
  </div>

  <app-home class='animate-hide' *ngIf="home"></app-home>
  <app-portfolio *ngIf="portfolio"></app-portfolio>
  <app-contact *ngIf="contact"></app-contact>
